@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

body {
	background-image: url("../res/web.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
	line-height: 1.5;
}

.panel-main {
	display: table;
	width: 100%;
	height: -webkit-fill-available;
	background-color: rgba(0, 0, 0, 0.4);
}

.panel-content {
	display: table-cell;
	vertical-align: middle;
}

.panel-content-inner {
	margin: 0 auto;
	padding: 20px;
	border-radius: 15px;
	transition: box-shadow .25s;
}

.button {
	background-color: rgba(39, 29, 46, 0.8);
    list-style: none;
	padding: 10px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
}

.button:hover {
	background-color: rgba(134, 113, 184, 0.8);
}

.button i {
	font-size: 25px;
}

.button-sm {
	display: inline-block;
	width: 5%;
	text-align: center;
	cursor: pointer;
	border-radius: 20%;
}